@charset "UTF-8";
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-black:before {
  content: "\e900";
}

._icon-arrow-white:before {
  content: "\e901";
  color: #fff;
}

._icon-arrow-white-small:before {
  content: "\e902";
  color: #fff;
}

._icon-check-mark:before {
  content: "\e903";
}

._icon-donload:before {
  content: "\e904";
}

._icon-file-eye:before {
  content: "\e905";
}

._icon-form-drop-down:before {
  content: "\e906";
}

._icon-left .path1:before {
  content: "\e907";
  color: rgb(255, 255, 255);
}

._icon-left .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(7, 0, 44);
}

._icon-right .path1:before {
  content: "\e909";
  color: rgb(255, 255, 255);
}

._icon-right .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(8, 84, 134);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #07002C;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 77.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 3.125rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  height: 120px;
  display: flex;
  z-index: 100;
}
.header__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.nav__list {
  display: flex;
}
.nav__list li:not(:last-child) {
  padding-right: 30px;
}
.nav__list > li:nth-child(2) {
  padding-right: 24px;
  margin-right: 30px;
}
.nav__list > li:hover .sub-nav__list {
  display: block;
}
.nav li {
  position: relative;
}
.nav__link {
  transition: all 0.2s ease 0s;
}
.nav__link::before {
  position: absolute;
  right: 0;
  top: 7px;
  font-size: 12px;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .nav__link:hover, .nav__link:focus {
    transition: all 0.2s ease 0s;
    border-bottom: 1px solid #fff;
  }
}

.sub-nav__list {
  display: none;
  position: absolute;
  top: 22px;
  left: 22px;
  width: 128px;
  height: 101px;
  background-image: url(../img/header-menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1rem;
  line-height: 19px;
  padding-top: 20px;
}
.sub-nav__item {
  height: 40px;
  padding: 10px 19px;
}
.sub-nav__item:first-child {
  border-bottom: 2px solid #dadada;
}
.sub-nav__link {
  color: #07002c;
  font-weight: 700;
  transition: all 0.2s ease 0s;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .sub-nav__link:hover, .sub-nav__link:focus {
    border-bottom: 1px solid #07002c;
    transition: all 0.2s ease 0s;
  }
}

.phone {
  font-weight: 700;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid #fff;
  transition: all 0.2s ease 0s;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .phone:hover, .phone:focus {
    background-color: #fff;
    color: #07002c;
    transition: all 0.2s ease 0s;
  }
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.first {
  height: 600px;
  overflow: hidden;
}
.first__wrap {
  display: flex;
  justify-content: space-between;
}
.first__images {
  position: relative;
  width: 500px;
}
.first__content {
  position: relative;
  padding-top: 37px;
  display: flex;
  flex-direction: column;
}
.first__bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.first__bg img {
  max-width: 100%;
}
.first__title {
  font-size: 40px;
  letter-spacing: 7px;
}
.first__list {
  padding-left: 60px;
  padding-top: 47px;
  padding-bottom: 59px;
}
.first__list li {
  padding-left: 30px;
  padding-bottom: 31px;
  position: relative;
  font-size: 1.125rem;
  font-weight: 600;
}
.first__list li::before {
  position: absolute;
  left: 0;
}
.first__btn {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  padding-top: 29px;
}

.first-01 {
  position: absolute;
  left: -100px;
  top: -30px;
  width: 459px;
}
.first-01 img {
  max-width: 100%;
}

.first-02 {
  position: absolute;
  width: 294px;
  right: -40px;
}
.first-02 img {
  max-width: 100%;
}

.first-bg {
  width: 900px;
  position: absolute;
  top: 0;
  left: 10px;
}
.first-bg img {
  max-width: 100%;
}

.consult__btn {
  width: 257px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
  border-radius: 15px;
  background-color: #fff;
  color: #07002c;
  margin-right: 55px;
  transition: all 0.2s ease 0s;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .consult__btn:hover, .consult__btn:focus {
    background-color: transparent;
    color: #fff;
    transition: all 0.2s ease 0s;
  }
}

.services__btn {
  width: 257px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 15px;
  transition: all 0.2s ease 0s;
  position: relative;
}
.services__btn::before {
  display: none;
  font-size: 50px;
  position: absolute;
  right: 60px;
  transition: all 0.2s ease 0s;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .services__btn:hover, .services__btn:focus {
    text-indent: -60px;
    transition: all 0.2s ease 0s;
  }
  .services__btn:hover::before, .services__btn:focus::before {
    display: block;
    text-indent: 0;
    transition: all 0.2s ease 0s;
  }
}
