@charset "UTF-8";
@font-face {
  font-family: Forum;
  font-display: swap;
  src: url("../fonts/Forum-Regular.woff2") format("woff2"), url("../fonts/Forum-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-black:before {
  content: "\e900";
}

._icon-arrow-white:before {
  content: "\e901";
  color: #fff;
}

._icon-arrow-white-small:before {
  content: "\e902";
  color: #fff;
}

._icon-check-mark:before {
  content: "\e903";
}

._icon-donload:before {
  content: "\e904";
}

._icon-file-eye:before {
  content: "\e905";
}

._icon-form-drop-down:before {
  content: "\e906";
}

._icon-left .path1:before {
  content: "\e907";
  color: rgb(255, 255, 255);
}

._icon-left .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(7, 0, 44);
}

._icon-right .path1:before {
  content: "\e909";
  color: rgb(255, 255, 255);
}

._icon-right .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(8, 84, 134);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #07002C;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

.title {
  font-weight: 900;
}
@supports (padding-top: clamp( 3.125rem , 2.0723684211rem  +  5.2631578947vw , 6.25rem )) {
  .title {
    padding-top: clamp( 3.125rem , 2.0723684211rem  +  5.2631578947vw , 6.25rem );
  }
}
@supports not (padding-top: clamp( 3.125rem , 2.0723684211rem  +  5.2631578947vw , 6.25rem )) {
  .title {
    padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 59.375);
  }
}
@supports (padding-bottom: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem )) {
  .title {
    padding-bottom: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem )) {
  .title {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 59.375);
  }
}
@supports (font-size: clamp( 1.125rem , 0.4934210526rem  +  3.1578947368vw , 3rem )) {
  .title {
    font-size: clamp( 1.125rem , 0.4934210526rem  +  3.1578947368vw , 3rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.4934210526rem  +  3.1578947368vw , 3rem )) {
  .title {
    font-size: calc(1.125rem + 1.875 * (100vw - 20rem) / 59.375);
  }
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 77.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  height: 122px;
  display: flex;
  z-index: 100;
}
@media (max-width: 1140px) {
  .header {
    height: 76px;
  }
}
.header__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 118px;
}
@media (max-width: 1140px) {
  .logo {
    order: -1;
  }
}
@media (max-width: 480px) {
  .logo {
    width: 100px;
  }
}

.nav {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 1140px) {
  .nav {
    position: fixed;
    right: -100%;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: auto;
    backdrop-filter: blur(10px);
    z-index: 4;
    display: flex;
    justify-content: flex-end;
    transition: right 0.5s ease 0s;
  }
}
.menu-open .nav {
  right: 0;
  transition: right 0.5s ease 0s;
}
.nav__list {
  display: flex;
}
@media (max-width: 1140px) {
  .nav__list {
    display: block;
    background: #07002C;
    width: 260px;
    padding: 111px 40px 40px 40px;
    font-size: 14px;
    position: relative;
  }
  .nav__list::before {
    content: "";
    background-image: url(../img/logo-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 46px;
    position: absolute;
    top: 15px;
    left: 15px;
  }
}
.nav__list li:not(:last-child) {
  padding-right: 30px;
}
@media (max-width: 1140px) {
  .nav__list li:not(:last-child) {
    padding-right: 0;
  }
}
.nav__list > li:nth-child(2) {
  padding-right: 24px;
  margin-right: 30px;
}
.nav__list > li:nth-child(2) span {
  position: absolute;
  top: 2px;
  right: -2px;
  cursor: pointer;
}
.nav__list > li:nth-child(2) span::before {
  font-size: 13px;
  padding: 5px;
}
@media (max-width: 1140px) {
  .nav__list > li:nth-child(2) span::before {
    display: none;
  }
}
@media (max-width: 1140px) {
  .nav__list > li:nth-child(2) {
    padding-right: 0;
    margin-right: 0;
  }
}
.nav li {
  position: relative;
}
@media (max-width: 1140px) {
  .nav li {
    padding-bottom: 20px;
  }
}
.nav a {
  transition: all 0.2s ease 0s;
}
.nav a::before {
  position: absolute;
  right: 0;
  top: 7px;
  font-size: 12px;
}
@media (max-width: 1140px) {
  .nav a::before {
    display: none;
  }
}
.nav a:hover {
  transition: all 0.2s ease 0s;
  border-bottom: 1px solid #fff;
}
.nav__policy {
  display: none;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
  margin: 60px 8px 0 8px;
  text-align: center;
  border-bottom: 1px solid #fff;
}
@media (max-width: 1140px) {
  .nav__policy {
    display: block;
  }
}
.nav__copy {
  display: none;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  margin-top: 21px;
}
@media (max-width: 1140px) {
  .nav__copy {
    display: block;
  }
}

.sub-nav__list {
  display: none;
  position: absolute;
  top: 22px;
  left: 22px;
  width: 128px;
  height: 101px;
  background-image: url(../img/header-menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1rem;
  line-height: 19px;
  padding-top: 20px;
}
.sub-nav__item {
  height: 40px;
  padding: 10px 19px;
}
@media (max-width: 1140px) {
  .sub-nav__item {
    padding: 0;
  }
}
.sub-nav__item:first-child {
  border-bottom: 2px solid #dadada;
}
.sub-nav__link {
  color: #07002C;
  font-weight: 700;
}
@media (max-width: 1140px) {
  .sub-nav__link {
    color: #fff;
  }
}

.phone a {
  font-weight: 700;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid #fff;
  transition: all 0.2s ease 0s;
}
.phone a:hover {
  background-color: #fff;
  color: #07002C;
  transition: all 0.2s ease 0s;
}
@media (max-width: 1140px) {
  .phone {
    order: -1;
  }
}
@media (max-width: 767px) {
  .phone {
    display: none;
  }
}

.icon-menu {
  display: none;
  position: relative;
  width: 1.875rem;
  height: 1.1875rem;
  margin-left: 1.25rem;
  cursor: pointer;
  z-index: 5;
}
@media (max-width: 1140px) {
  .icon-menu {
    display: block;
  }
}
.icon-menu span, .icon-menu::before, .icon-menu::after {
  content: "";
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  height: 0.1875rem;
  background-color: #fff;
  border-radius: 2.875rem;
}
.icon-menu::before {
  top: 0;
  width: 100%;
}
.icon-menu::after {
  bottom: 0;
  width: 100%;
}
.icon-menu span {
  top: calc(50% - 0.0625rem);
  width: 67%;
}
.menu-open .icon-menu span {
  opacity: 0;
}
.menu-open .icon-menu::before {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}
.menu-open .icon-menu::after {
  transform: rotate(45deg);
  width: 100%;
  bottom: 8px;
}

.footer__wrap {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 7px 14px rgba(7, 0, 44, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #07002C;
  font-weight: 600;
}
@media (max-width: 767px) {
  .footer__wrap {
    flex-direction: column;
  }
}
.footer__info {
  padding: 42px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 1080px) {
  .footer__info {
    padding: 30px 20px;
  }
}
@media (max-width: 960px) {
  .footer__info {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .footer__info {
    align-items: center;
  }
}
.footer__info a ~ a {
  margin-top: 30px;
}
@media (max-width: 480px) {
  .footer__info a ~ a {
    margin-top: 34px;
  }
}
.footer__info a {
  border-bottom: 1px solid #07002C;
  transition: all 0.2s ease 0s;
}
.footer__info a:hover {
  transform: scale(1.1);
  transition: all 0.2s ease 0s;
}
.footer__logo {
  margin: 21px;
  max-width: 240px;
}
@media (max-width: 960px) {
  .footer__logo {
    margin: 21px 0;
  }
}
@media (max-width: 480px) {
  .footer__logo {
    margin: 0px 15px;
  }
}
.footer__logo img {
  max-width: 100%;
}
.footer__dev {
  padding: 42px 50px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1080px) {
  .footer__dev {
    padding: 30px 20px;
  }
}
@media (max-width: 960px) {
  .footer__dev {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .footer__dev {
    align-items: center;
  }
}
.footer__dev a ~ a {
  margin-top: 30px;
}
@media (max-width: 480px) {
  .footer__dev a ~ a {
    margin-top: 34px;
  }
}
.footer__dev a {
  transition: all 0.2s ease 0s;
}
.footer__dev a:hover {
  transform: scale(1.1);
  transition: all 0.2s ease 0s;
}
.footer__copy {
  text-align: center;
  padding: 58px 30px 83px;
}
@media (max-width: 960px) {
  .footer__copy {
    padding: 58px 30px 50px;
  }
}
@media (max-width: 480px) {
  .footer__copy {
    padding: 30px 30px 50px;
  }
}

.first svg {
  position: absolute;
  top: -230px;
  left: -160px;
  z-index: -1;
}
@media (max-width: 960px) {
  .first svg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
  }
}
@media (max-width: 480px) {
  .first svg {
    width: 600px;
    top: 180px;
  }
}
.first__wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 960px) {
  .first__wrap {
    justify-content: center;
  }
}
.first__img {
  position: relative;
  width: 100%;
}
@media (max-width: 960px) {
  .first__img {
    display: none;
  }
}
.first__img img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
}
.first__content {
  position: relative;
  display: flex;
  flex-direction: column;
}
.first__title {
  font-family: "Forum;";
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.165em;
  white-space: nowrap;
}
@supports (font-size: clamp( 0.625rem , -0.175rem  +  4vw , 3rem )) {
  .first__title {
    font-size: clamp( 0.625rem , -0.175rem  +  4vw , 3rem );
  }
}
@supports not (font-size: clamp( 0.625rem , -0.175rem  +  4vw , 3rem )) {
  .first__title {
    font-size: calc(0.625rem + 2.375 * (100vw - 20rem) / 59.375);
  }
}
@supports (padding-top: clamp( 0rem , -0.7368421053rem  +  3.6842105263vw , 2.1875rem )) {
  .first__title {
    padding-top: clamp( 0rem , -0.7368421053rem  +  3.6842105263vw , 2.1875rem );
  }
}
@supports not (padding-top: clamp( 0rem , -0.7368421053rem  +  3.6842105263vw , 2.1875rem )) {
  .first__title {
    padding-top: calc(0rem + 2.1875 * (100vw - 20rem) / 59.375);
  }
}
@media (max-width: 1140px) {
  .first__title {
    transform: translateX(-24px);
  }
}
@media (max-width: 960px) {
  .first__title {
    transform: translateX(0);
    padding-top: 35px;
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .first__title {
    font-size: 19px;
  }
}
.first__list {
  background-image: url(../img/first/logo-bg-first.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@supports (padding-top: clamp( 0.875rem , 0.1802631579rem  +  3.4736842105vw , 2.9375rem )) {
  .first__list {
    padding-top: clamp( 0.875rem , 0.1802631579rem  +  3.4736842105vw , 2.9375rem );
  }
}
@supports not (padding-top: clamp( 0.875rem , 0.1802631579rem  +  3.4736842105vw , 2.9375rem )) {
  .first__list {
    padding-top: calc(0.875rem + 2.0625 * (100vw - 20rem) / 59.375);
  }
}
@supports (padding-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem )) {
  .first__list {
    padding-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem )) {
  .first__list {
    padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 59.375);
  }
}
@supports (padding-left: clamp( -5rem , -7.9473684211rem  +  14.7368421053vw , 3.75rem )) {
  .first__list {
    padding-left: clamp( -5rem , -7.9473684211rem  +  14.7368421053vw , 3.75rem );
  }
}
@supports not (padding-left: clamp( -5rem , -7.9473684211rem  +  14.7368421053vw , 3.75rem )) {
  .first__list {
    padding-left: calc(-5rem + 8.75 * (100vw - 20rem) / 59.375);
  }
}
@media (max-width: 960px) {
  .first__list {
    padding: 24px 0 30px 0px;
  }
}
.first__list li {
  padding-left: 60px;
  padding-bottom: 31px;
  position: relative;
  font-weight: 600;
}
@supports (font-size: clamp( 0.3125rem , 0.0388157895rem  +  1.3684210526vw , 1.125rem )) {
  .first__list li {
    font-size: clamp( 0.3125rem , 0.0388157895rem  +  1.3684210526vw , 1.125rem );
  }
}
@supports not (font-size: clamp( 0.3125rem , 0.0388157895rem  +  1.3684210526vw , 1.125rem )) {
  .first__list li {
    font-size: calc(0.3125rem + 0.8125 * (100vw - 20rem) / 59.375);
  }
}
.first__list li::before {
  position: absolute;
  left: 0;
  top: -6px;
  font-size: 29px;
}
@media (max-width: 960px) {
  .first__list li {
    font-size: 14px;
    padding-bottom: 21px;
    padding-left: 55px;
  }
}
@media (max-width: 480px) {
  .first__list li {
    font-size: 10px;
    padding-left: 30px;
  }
  .first__list li::before {
    font-size: 19px;
  }
}
.first__btn {
  font-weight: 600;
  line-height: 24px;
  display: flex;
  padding-top: 29px;
}
@supports (font-size: clamp( 0.75rem , 0.5815789474rem  +  0.8421052632vw , 1.25rem )) {
  .first__btn {
    font-size: clamp( 0.75rem , 0.5815789474rem  +  0.8421052632vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 0.75rem , 0.5815789474rem  +  0.8421052632vw , 1.25rem )) {
  .first__btn {
    font-size: calc(0.75rem + 0.5 * (100vw - 20rem) / 59.375);
  }
}
@media (max-width: 960px) {
  .first__btn {
    justify-content: center;
    padding-top: 8px;
  }
}
@media (max-width: 480px) {
  .first__btn {
    flex-direction: column;
    align-items: center;
  }
}
.first__btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
  border-radius: 15px;
}
@supports (width: clamp( 11.25rem , 9.6289473684rem  +  8.1052631579vw , 16.0625rem )) {
  .first__btn a {
    width: clamp( 11.25rem , 9.6289473684rem  +  8.1052631579vw , 16.0625rem );
  }
}
@supports not (width: clamp( 11.25rem , 9.6289473684rem  +  8.1052631579vw , 16.0625rem )) {
  .first__btn a {
    width: calc(11.25rem + 4.8125 * (100vw - 20rem) / 59.375);
  }
}
@supports (height: clamp( 3.125rem , 2.7039473684rem  +  2.1052631579vw , 4.375rem )) {
  .first__btn a {
    height: clamp( 3.125rem , 2.7039473684rem  +  2.1052631579vw , 4.375rem );
  }
}
@supports not (height: clamp( 3.125rem , 2.7039473684rem  +  2.1052631579vw , 4.375rem )) {
  .first__btn a {
    height: calc(3.125rem + 1.25 * (100vw - 20rem) / 59.375);
  }
}
@media (max-width: 960px) {
  .first__btn a {
    border: 2px solid #fff;
    border-radius: 10px;
  }
}
.first__btn-consult {
  background-color: #fff;
  color: #07002C;
  margin-right: 55px;
  transition: all 0.2s ease 0s;
}
.first__btn-consult:hover {
  background-color: transparent;
  color: #fff;
  transition: all 0.2s ease 0s;
}
@media (max-width: 960px) {
  .first__btn-consult {
    margin-right: 52px;
  }
}
@media (max-width: 480px) {
  .first__btn-consult {
    margin: 0 0 30px 0;
  }
}
.first__btn-services {
  text-align: center;
  transition: all 0.2s ease 0s;
  position: relative;
}
.first__btn-services::before {
  display: none;
  font-size: 50px;
  position: absolute;
  right: 60px;
  transition: all 0.2s ease 0s;
}
@media (max-width: 960px) {
  .first__btn-services::before {
    font-size: 30px;
  }
}
.first__btn-services:hover {
  text-indent: -60px;
  transition: all 0.2s ease 0s;
}
.first__btn-services:hover::before {
  display: block;
  text-indent: 0;
  transition: all 0.2s ease 0s;
}

.contacts__wrap {
  background-image: url(../img/contacts/logo-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 100px;
  position: relative;
}
@supports (padding-bottom: clamp( 1.5625rem , 0.0467105263rem  +  7.5789473684vw , 6.0625rem )) {
  .contacts__wrap {
    padding-bottom: clamp( 1.5625rem , 0.0467105263rem  +  7.5789473684vw , 6.0625rem );
  }
}
@supports not (padding-bottom: clamp( 1.5625rem , 0.0467105263rem  +  7.5789473684vw , 6.0625rem )) {
  .contacts__wrap {
    padding-bottom: calc(1.5625rem + 4.5 * (100vw - 20rem) / 59.375);
  }
}
@media (max-width: 960px) {
  .contacts__wrap {
    background-position: 0 150px;
  }
}
.contacts__wrap svg {
  position: absolute;
  right: -300px;
  top: 0;
  z-index: -1;
}
@media (max-width: 960px) {
  .contacts__wrap svg {
    width: 700px;
    right: -250px;
    top: -250px;
    opacity: 0.7;
  }
}
.contacts__sub-title {
  font-weight: 700;
  text-align: center;
  padding: 60px 10px 97px;
}
@supports (font-size: clamp( 0.875rem , 0.5592105263rem  +  1.5789473684vw , 1.8125rem )) {
  .contacts__sub-title {
    font-size: clamp( 0.875rem , 0.5592105263rem  +  1.5789473684vw , 1.8125rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.5592105263rem  +  1.5789473684vw , 1.8125rem )) {
  .contacts__sub-title {
    font-size: calc(0.875rem + 0.9375 * (100vw - 20rem) / 59.375);
  }
}
@media (max-width: 767px) {
  .contacts__sub-title {
    padding: 10px 10px 50px;
  }
}
.contacts__social {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  margin: 0 auto;
  max-width: 900px;
}
@media (max-width: 960px) {
  .contacts__social {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .contacts__social a:nth-child(1) {
    margin-left: -35px;
  }
  .contacts__social a:nth-child(4) {
    margin-left: -35px;
  }
  .contacts__social a:nth-child(3) {
    margin-right: -35px;
  }
  .contacts__social a:nth-child(6) {
    margin-right: -35px;
  }
}
.contacts__social-item {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease 0s;
}
@supports (margin: clamp( 1.5625rem , 1.0361842105rem  +  2.6315789474vw , 3.125rem )) {
  .contacts__social-item {
    margin: clamp( 1.5625rem , 1.0361842105rem  +  2.6315789474vw , 3.125rem );
  }
}
@supports not (margin: clamp( 1.5625rem , 1.0361842105rem  +  2.6315789474vw , 3.125rem )) {
  .contacts__social-item {
    margin: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 59.375);
  }
}
@media (max-width: 480px) {
  .contacts__social-item {
    width: 40px;
    height: 40px;
  }
}

.telephone {
  background-image: url(../img/contacts/phone-icon.svg);
}
.telephone:hover {
  background-image: url(../img/contacts/phone-hover.svg);
  transform: scale(1.2);
  transition: all 0.3s ease 0s;
}

.watsapp {
  background-image: url(../img/contacts/whatsapp-icon.svg);
}
.watsapp:hover {
  background-image: url(../img/contacts/whatsapp-hover.svg);
  transform: scale(1.2);
  transition: all 0.3s ease 0s;
}

.telegram {
  background-image: url(../img/contacts/telegram-icon.svg);
}
.telegram:hover {
  background-image: url(../img/contacts/telegram-hover.svg);
  transform: scale(1.2);
  transition: all 0.3s ease 0s;
}

.tenchat {
  background-image: url(../img/contacts/tenchat-icon.svg);
}
.tenchat:hover {
  background-image: url(../img/contacts/tenchat-hover.svg);
  transform: scale(1.2);
  transition: all 0.3s ease 0s;
}

.vk {
  background-image: url(../img/contacts/VK-icon.svg);
}
.vk:hover {
  background-image: url(../img/contacts/VK-hover.svg);
  transform: scale(1.2);
  transition: all 0.3s ease 0s;
}

.email {
  background-image: url(../img/contacts/email-icon.svg);
}
.email:hover {
  background-image: url(../img/contacts/email-hover.svg);
  transform: scale(1.2);
  transition: all 0.3s ease 0s;
}
