.contacts {
    &__wrap {
        background-image: url(../img/contacts/logo-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 100px;
        @include adaptiveValue("padding-bottom", 97, 25);
        @include adaptiveValue("padding-top", 100, 50);
        position: relative;
        &::before {
            content: "";
            background: rgba(10, 148, 226, 0.5);
            filter: blur(187.5px);
            @include adaptiveValue("width", 699, 266);
            @include adaptiveValue("height", 699, 266);
            position: absolute;
            right: -17%;
            top: 99px;
            border-radius: 100%;
            z-index: -1;
            @media (max-width: 960px) {
                filter: blur(75px);
            }
        }
        @media (max-width: 960px) {
            background-position: 0 150px;
        }
    }
    &__title {
        color: $mainColor;
    }
    &__sub-title {
        text-align: center;
        padding: 60px 10px 97px;
        @media (max-width: 767px) {
            padding: 10px 10px 50px;
        }
    }
    &__social {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 1fr);
        justify-items: center;
        margin: 0 auto;
        max-width: 900px;
        @media (max-width: 960px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        @media (max-width: 767px) {
            a:nth-child(1) {
                margin-left: -35px;
            }
            a:nth-child(4) {
                margin-left: -35px;
            }
            a:nth-child(3) {
                margin-right: -35px;
            }
            a:nth-child(6) {
                margin-right: -35px;
            }
        }
        &-item {
            width: 50px;
            height: 50px;
            background-size: contain;
            background-repeat: no-repeat;
            @include adaptiveValue("margin", 50, 25);
            transition: all 0.3s ease 0s;
            @media (max-width: 480px) {
                width: 40px;
                height: 40px;
            }
        }
    }
}

.telephone {
    background-image: url(../img/contacts/phone-icon.svg);
    &:hover {
        background-image: url(../img/contacts/phone-hover.svg);
        transform: scale(1.2);
        transition: all 0.3s ease 0s;
    }
}
.watsapp {
    background-image: url(../img/contacts/whatsapp-icon.svg);
    &:hover {
        background-image: url(../img/contacts/whatsapp-hover.svg);
        transform: scale(1.2);
        transition: all 0.3s ease 0s;
    }
}
.telegram {
    background-image: url(../img/contacts/telegram-icon.svg);
    &:hover {
        background-image: url(../img/contacts/telegram-hover.svg);
        transform: scale(1.2);
        transition: all 0.3s ease 0s;
    }
}
.tenchat {
    background-image: url(../img/contacts/tenchat-icon.svg);
    &:hover {
        background-image: url(../img/contacts/tenchat-hover.svg);
        transform: scale(1.2);
        transition: all 0.3s ease 0s;
    }
}
.vk {
    background-image: url(../img/contacts/VK-icon.svg);
    &:hover {
        background-image: url(../img/contacts/VK-hover.svg);
        transform: scale(1.2);
        transition: all 0.3s ease 0s;
    }
}
.email {
    background-image: url(../img/contacts/email-icon.svg);
    &:hover {
        background-image: url(../img/contacts/email-hover.svg);
        transform: scale(1.2);
        transition: all 0.3s ease 0s;
    }
}
.wrap {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}
.content {
    width: calc(100% + 200px);
    height: 300px;
    background-color: red;
    margin: 0 -100px;
}
