.contacts {
    &__wrap {
        background-image: url(../img/contacts/logo-bg.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 100px;
        @include adaptiveValue("padding-bottom", 97, 25);
        position: relative;
        @media (max-width: 960px) {
            background-position: 0 150px;
        }
        svg {
            position: absolute;
            right: -300px;
            top: 0;
            z-index: -1;
            @media (max-width: 960px) {
                width: 700px;
                right: -250px;
                top: -250px;
                opacity: 0.7;
            }
        }
    }
    &__sub-title {
        @include adaptiveValue("font-size", 29, 14);
        font-weight: 700;
        text-align: center;
        padding: 60px 10px 97px;
        @media (max-width: 767px) {
            padding: 10px 10px 50px;
        }
    }
    &__social {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 1fr);
        justify-items: center;
        margin: 0 auto;
        max-width: 900px;
        @media (max-width: 960px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        @media (max-width: 767px){
            a:nth-child(1){
                margin-left: -35px;
            }
            a:nth-child(4){
                margin-left: -35px;
            }
            a:nth-child(3){
                margin-right: -35px;
            }
            a:nth-child(6){
                margin-right: -35px;
            }
        }
        &-item {
            width: 50px;
            height: 50px;
            background-size: contain;
            background-repeat: no-repeat;
            @include adaptiveValue("margin", 50, 25);
            transition: all 0.3s ease 0s;
            @media (max-width: 480px) {
                width: 40px;
                height: 40px;
            }
        }
    }
}

.telephone {
    background-image: url(../img/contacts/phone-icon.svg);
    &:hover {
        background-image: url(../img/contacts/phone-hover.svg);
        transform: scale(1.2);
        transition: all 0.3s ease 0s;
    }
}
.watsapp {
    background-image: url(../img/contacts/whatsapp-icon.svg);
    &:hover {
        background-image: url(../img/contacts/whatsapp-hover.svg);
        transform: scale(1.2);
        transition: all 0.3s ease 0s;
    }
}
.telegram {
    background-image: url(../img/contacts/telegram-icon.svg);
    &:hover {
        background-image: url(../img/contacts/telegram-hover.svg);
        transform: scale(1.2);
        transition: all 0.3s ease 0s;
    }
}
.tenchat {
    background-image: url(../img/contacts/tenchat-icon.svg);
    &:hover {
        background-image: url(../img/contacts/tenchat-hover.svg);
        transform: scale(1.2);
        transition: all 0.3s ease 0s;
    }
}
.vk {
    background-image: url(../img/contacts/VK-icon.svg);
    &:hover {
        background-image: url(../img/contacts/VK-hover.svg);
        transform: scale(1.2);
        transition: all 0.3s ease 0s;
    }
}
.email {
    background-image: url(../img/contacts/email-icon.svg);
    &:hover {
        background-image: url(../img/contacts/email-hover.svg);
        transform: scale(1.2);
        transition: all 0.3s ease 0s;
    }
}
