//====================================================================================================
.footer {
    &__wrap {
        background-color: $mainColor;
        border-radius: 15px;
        box-shadow: 0px 7px 14px rgba(7, 0, 44, 0.15);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color;
        font-weight: 600;
        margin-top: 58px;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__info {
        padding: 42px 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: 1080px) {
            padding: 30px 20px;
        }
        @media (max-width: 960px) {
            font-size: 12px;
        }
        @media (max-width: 767px) {
            align-items: center;
        }
        a ~ a {
            margin-top: 30px;
            @media (max-width: 480px) {
                margin-top: 34px;
            }
        }
        a {
            border-bottom: 1px solid $color;
            transition: all 0.2s ease 0s;
            @media (any-hover: hover) and (any-pointer: fine)  {
                &:hover{
                      &:active {
                    transform: scale(1.1);
                    transition: all 0.2s ease 0s;
                }
                }
                &:focus{
                      &:active {
                    transform: scale(1.1);
                    transition: all 0.2s ease 0s;
                }
                }
                &:active {
                    transform: scale(1.1);
                    transition: all 0.2s ease 0s;
                }
            }
        }
    }
    &__logo {
        margin: 21px;
        max-width: 240px;
        @media (max-width: 960px) {
            margin: 21px 0;
        }
        @media (max-width: 480px) {
            margin: 0px 15px;
        }
        img {
            max-width: 100%;
        }
    }
    &__dev {
        padding: 42px 50px;
        display: flex;
        flex-direction: column;
        @media (max-width: 1080px) {
            padding: 30px 20px;
        }
        @media (max-width: 960px) {
            font-size: 12px;
        }
        @media (max-width: 767px) {
            align-items: center;
        }
        a ~ a {
            margin-top: 30px;
            @media (max-width: 480px) {
                margin-top: 34px;
            }
        }
        a {
            transition: all 0.2s ease 0s;
            @media (any-hover: hover) and (any-pointer: fine)  {
                &:hover{
                    transform: scale(1.1);
                    transition: all 0.2s ease 0s;
                }
                &:focus{
                    transform: scale(1.1);
                    transition: all 0.2s ease 0s;
                }
                &:active {
                    transform: scale(1.1);
                    transition: all 0.2s ease 0s;
                }
            }
        }
    }
    &__copy {
        text-align: center;
        padding: 58px 30px 83px;
        @media (max-width: 960px) {
            padding: 58px 30px 50px;
        }
        @media (max-width: 480px) {
            padding: 30px 30px 50px;
        }
    }
}

//====================================================================================================
