//====================================================================================================
.header {
	height: 122px;
	display: flex;
	z-index: 100;
	@media (max-width: 1140px) {
		height: 76px;
	}
	&__wrap {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.logo {
	width: 118px;
	@media (max-width: 1140px) {
	order: -1;
	}
	@media (max-width: 480px) {
		width: 100px;
	}
}
.nav {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	@media (max-width: 1140px) {
		position: fixed;
		right: -100%;
		width: 100%;
		height: 100%;
		top: 0;
		overflow: auto;
		backdrop-filter: blur(10px);
		z-index: 4;
		display: flex;
		justify-content: flex-end;
		transition: right 0.5s ease 0s;
	}
	.menu-open & {
		right: 0;
		transition: right 0.5s ease 0s;
	}
	&__list {
		display: flex;
		@media (max-width: 1140px) {
			display: block;
			background: $color;
			width: 260px;
			padding: 111px 40px 40px 40px;
			font-size: 14px;
			position: relative;
			&::before{
				content: "";
				background-image: url(../img/logo-header.png);
				background-repeat: no-repeat;
				background-size: cover;
				width: 100px;
				height: 46px;
				position: absolute;
				top: 15px;
				left: 15px;
			}
		}
		li:not(:last-child) {
			padding-right: 30px;
			@media (max-width: 1140px) {
				padding-right: 0;
			}
		}
		> li:nth-child(2) {
			padding-right: 24px;
			margin-right: 30px;
			span {
				position: absolute;
				top: 2px;
				right: -2px;
				cursor: pointer;
				&::before{
					font-size: 13px;
					padding: 5px;
					@media (max-width: 1140px){
						display: none;
					}
				}
			}
			@media (max-width: 1140px) {
				padding-right: 0;
				margin-right: 0;
			}
		}
	
	}

	li {
		position: relative;
		@media (max-width: 1140px) {
			padding-bottom: 20px;
		}
	}

	a {
		&::before {
			position: absolute;
			right: 0;
			top: 7px;
			font-size: 12px;
			@media (max-width: 1140px) {
				display: none;
			}
		}
		transition: all 0.2s ease 0s;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				transition: all 0.2s ease 0s;
				border-bottom: 1px solid #fff;
			}
		}
	}

	&__policy {
		display: none;
		font-size: 10px;
		font-weight: 600;
		line-height: 1.2;
		margin: 60px 10px 0 10px;
		text-align: center;
		border-bottom: 1px solid $mainColor;
		@media (max-width: 1140px) {
			display: block;
		}
	}
	&__copy {
		display: none;
		font-size: 10px;
		font-weight: 600;
		text-align: center;
		margin-top: 21px;
		@media (max-width: 1140px) {
			display: block;
		}
	}
}
.sub-nav {
	&__list {
		display: none;
		position: absolute;
		top: 22px;
		left: 22px;
		width: 128px;
		height: 101px;
		background-image: url(../img/header-menu.png);
		background-repeat: no-repeat;
		background-size: contain;
		font-size: rem(16);
		line-height: 19px;
		padding-top: 20px;
	}
	&__item {
		height: 40px;
		padding: 10px 19px;
		@media (max-width: 1140px) {
			padding: 0;
		}
		&:first-child {
			border-bottom: 2px solid #dadada;
		}
	}
	&__link {
		color: $color;
		font-weight: 700;
		@media (max-width: 1140px) {
			color: $mainColor;
		}

	}
}

.phone {
	font-weight: 700;
	font-size: rem(14);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 180px;
	height: 44px;
	border-radius: 10px;
	border: 1px solid #fff;
	transition: all 0.2s ease 0s;
	@media (any-hover: hover) and (any-pointer: fine) {
		&:hover,
		&:focus {
			background-color: #fff;
			color: $color;
			transition: all 0.2s ease 0s;
		}
	}
	@media (max-width: 1140px) {
	order: -1;
	}
	@media (max-width: 767px){
		display: none;
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	position: relative;
	width: rem(30);
	height: rem(19);
	margin-left: rem(20);
	cursor: pointer;
	z-index: 5;
	@media (max-width: 1140px) {
		display: block;
	}

	span,
	&::before,
	&::after {
		content: "";
		transition: all 0.3s ease 0s;
		right: 0;
		position: absolute;
		height: rem(3);
		background-color: $mainColor;
		border-radius: rem(46);
	}
	&::before {
		top: 0;
		width: 100%;
	}
	&::after {
		bottom: 0;
		width: 100%;
	}
	span {
		top: calc(50% - rem(1));
		width: 67%;
	}

	.menu-open & {
		span {
			opacity: 0;
		}

		&::before {
			top: calc(50% - 1px);
			transform: rotate(-45deg);
		}
		&::after {
			transform: rotate(45deg);
			width: 100%;
			bottom: 8px;
		}
	}
}
