//====================================================================================================
.header {
	height: 120px;
	display: flex;
	z-index: 100;
	&__wrap {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.logo {
}
.nav {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	&__list {
		display: flex;
		li:not(:last-child) {
			padding-right: 30px;
		}
		> li:nth-child(2) {
			padding-right: 24px;
			margin-right: 30px;
		}
		> li:hover .sub-nav__list {
			display: block;
		}
	}
	li {
		position: relative;
	}
	&__item {
	}
	&__link {
		&::before {
			position: absolute;
			right: 0;
			top: 7px;
			font-size: 12px;
		}
		transition: all 0.2s ease 0s;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover,
			&:focus {
				transition: all 0.2s ease 0s;
				border-bottom: 1px solid #fff;
			}
		}
	}
}
.sub-nav {
	&__list {
		display: none;
		position: absolute;
		top: 22px;
		left: 22px;
		width: 128px;
		height: 101px;
		background-image: url(../img/header-menu.png);
		background-repeat: no-repeat;
		background-size: contain;
		font-size: rem(16);
		line-height: 19px;
		padding-top: 20px;
	}
	&__item {
		height: 40px;
		padding: 10px 19px;
		&:first-child {
			border-bottom: 2px solid #dadada;
		}
	}
	&__link {
		color: #07002c;
		font-weight: 700;
		transition: all 0.2s ease 0s;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover,
			&:focus {
				border-bottom: 1px solid #07002c;
				transition: all 0.2s ease 0s;
			}
		}
	}
}

.phone {
	font-weight: 700;
	font-size: rem(14);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 180px;
	height: 44px;
	border-radius: 10px;
	border: 1px solid #fff;
	transition: all 0.2s ease 0s;
	@media (any-hover: hover) and (any-pointer: fine) {
		&:hover,
		&:focus {
			background-color: #fff;
			color: #07002c;
			transition: all 0.2s ease 0s;
		}
	}
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
