//====================================================================================================
.first {
    svg {
        position: absolute;
        top: -230px;
        left: -160px;
        // top: 0;
        // left: 0;
        z-index: -1;
    }
    &__wrap {
        height: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__img {
        position: relative;
        width: 100%;

        img {
            position: absolute;
            bottom: 0;
            left: 0;
            max-width: 100%;
        }
    }

    &__content {
        position: relative;

        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: "Forum;";
        font-weight: 400;
        // font-size: 48px;
        // text-align: end;
        line-height: 48px;
        letter-spacing: 0.165em;
        white-space: nowrap;
        @include adaptiveValue("font-size", 48, 10);
        // padding-top: 35px;
        @include adaptiveValue(" padding-top",35 ,0 );
        @media (max-width: 1140px){
       transform: translateX(-24px);
        }
    }
    &__list {
        // padding: 47px 0 60px 60px;
        @include adaptiveValue("padding-top", 47, 14);
        @include adaptiveValue("padding-bottom", 60, 30);
        @include adaptiveValue("padding-left", 60, -80);
        li {
            padding-left: 30px;
            padding-bottom: 31px;
            position: relative;
            // font-size: rem(18);
            @include adaptiveValue("font-size", 18, 5);
            font-weight: 600;
            &::before {
                position: absolute;
                left: 0;
            }
        }
        background-image: url(../img/first/logo-bg-first.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__btn {
        // font-size: rem(20);
        font-weight: 600;
        line-height: 24px;
        display: flex;
        padding-top: 29px;
        @include adaptiveValue("font-size", 20, 12);
        a {
            // width: 257px;
            @include adaptiveValue("width", 257, 180);
            // height: 70px;
            @include adaptiveValue("height", 70, 50);
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid $mainColor;
            border-radius: 15px;
            @media (max-width: 960px) {
                border: 2px solid $mainColor;
                border-radius: 10px;
            }
        }
        &-consult {
            background-color: #fff;
            color: $color;
            margin-right: 55px;
            transition: all 0.2s ease 0s;
            @media (any-hover: hover) and (any-pointer: fine) {
                &:hover,
                &:focus {
                    background-color: transparent;
                    color: #fff;
                    transition: all 0.2s ease 0s;
                }
            }
            @media (max-width: 960px) {
                margin-right: 52px;
            }
        }

        &-services {
            text-align: center;
            transition: all 0.2s ease 0s;
            position: relative;

            &::before {
                display: none;
                font-size: 50px;
                position: absolute;
                right: 60px;
                transition: all 0.2s ease 0s;
            }
            @media (any-hover: hover) and (any-pointer: fine) {
                &:hover,
                &:focus {
                    &::before {
                        display: block;
                        text-indent: 0;
                        transition: all 0.2s ease 0s;
                    }
                    text-indent: -60px;
                    transition: all 0.2s ease 0s;
                }
            }
        }
    }
}

//Элипс за списком
// .first-bg {
//     width: 800px;
//     position: absolute;
//     top: 0;
//     left: -10px;
//     z-index: -1;
// }

//====================================================================================================
