//====================================================================================================
.first {
    height: 600px;
    overflow: hidden;
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__images {
        position: relative;
        width: 500px;
    }
    &__content {
        position: relative;
        padding-top: 37px;
        display: flex;
        flex-direction: column;
    }
    &__bg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        img {
            max-width: 100%;
        }
    }
    &__title {
        font-family: "Forum;";
        font-weight: 400;
        font-size: 48px;
        line-height: 53px;
        letter-spacing: 0.165em;
        white-space: nowrap;
    }
    &__list {
        padding-left: 60px;
        padding-top: 47px;
        padding-bottom: 59px;
        li {
            padding-left: 30px;
            padding-bottom: 31px;
            position: relative;
            font-size: rem(18);
            font-weight: 600;
            &::before {
                position: absolute;
                left: 0;
            }
        }
    }
    &__btn {
        font-size: rem(20);
        font-weight: 600;
        line-height: 24px;
        display: flex;
        padding-top: 29px;
    }
}
.first-01 {
    position: absolute;
    left: -100px;
    top: -30px;
    max-width: 459px;
    img {
        max-width: 100%;
    }
}
.first-02 {
    position: absolute;
    max-width: 294px;
    right: -40px;

    img {
        max-width: 100%;
    }
}
.first-bg {
    width: 900px;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: -1;
    img {
        max-width: 100%;
    }
}

.consult__btn {
    width: 257px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    border-radius: 15px;
    background-color: #fff;
    color: $color;
    margin-right: 55px;
    transition: all 0.2s ease 0s;
    @media (any-hover: hover) and (any-pointer: fine) {
        &:hover,
        &:focus {
            background-color: transparent;
            color: #fff;
            transition: all 0.2s ease 0s;
        }
    }
}

.services__btn {
    width: 257px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 15px;
    transition: all 0.2s ease 0s;
    position: relative;

    &::before {
        display: none;
        font-size: 50px;
        position: absolute;
        right: 60px;
        transition: all 0.2s ease 0s;
    }
    @media (any-hover: hover) and (any-pointer: fine) {
        &:hover,
        &:focus {
            &::before {
                display: block;
                text-indent: 0;
                transition: all 0.2s ease 0s;
            }
            text-indent: -60px;
            transition: all 0.2s ease 0s;
        }
    }
}

//====================================================================================================
